*.pdf
*.aux
*.log
*.fls
*.ax1 
*.fdb_latexmk
__pycache__/
utils/__pycache__/
qPDF/__pycache__/
qTMD/__pycache__/
DeltaG/__pycache__/
FFs/__pycache__/
stubs/__pycache__/
tests/correlators_exact
tests/correlators_sloppy
tests/propagators_exact/
tests/propagators_sloppy/
prev_outputs/